<footer class="footer-bottom">
  <div class="container content-inner " id="footer">

   <div class="section">

    <div class="col three tablet-full mobile-full">
              <a href="/" class="logo">cmp</a>


      <span class="notablet nomobile">


      </span>
      <span class="nodesktop showtablet nomobile">

              This footer text appears only on the tablet. Not on the mobile or desktop.
      </span>
      <span class="nodesktop notablet showmobile">

      This footer text appears only on the mobile. Not on the tablet or desktop.
      </span>
    </div>

    <div class="col three tablet-full mobile-full">
      <span class="notablet nomobile">

<!--      &copy; {{ site.time | date: '%Y' }} {{ site.author.name }} -->

      </span>
      <span class="nodesktop showtablet nomobile">

        This footer text appears only on the tablet. Not on the mobile or desktop.

      </span>
      <span class="nodesktop notablet showmobile">

            This footer text appears only on the mobile. Not on the tablet or desktop.
      </span>
    </div>

    <div class="col three tablet-full mobile-full">
      <span class="notablet nomobile">

        This footer text appears only on the desktop. Not on the mobile or tablet.

      </span>
      <span class="nodesktop showtablet nomobile">

        This footer text appears only on the tablet. Not on the mobile or desktop.

      </span>
      <span class="nodesktop notablet showmobile">

            This footer text appears only on the mobile. Not on the tablet or desktop.
    </span>
    </div>

    <div class="col three tablet-full mobile-full">
      <span class="notablet nomobile">

        This footer text appears only on the desktop. Not on the mobile or tablet.

      </span>
      <span class="nodesktop showtablet nomobile">

        This footer text appears only on the tablet. Not on the mobile or desktop.

      </span>
      <span class="nodesktop notablet showmobile">

            This footer text appears only on the mobile. Not on the tablet or desktop.
    </span>
    </div>
  </section>


    

  </div>
</footer>