<footer class="footer-bottom">
  <div class="container content-inner " id="footer">

   <div class="section">

      <div class="col three notablet nomobile">
                <a href="/" class="logo">cmp</a>
                &copy; {{ site.time | date: '%Y' }}

      </div>

      <div class="col three tablet-four mobile-full">
        
        ased intracellular motility, cell movement and migration, synaptic transmission and plasticity, protein design and structure prediction, protein folding, structure and function, and RNA-protein interactions.

      </div>

      <div class="col three tablet-four mobile-full">
        
        ased intracellular motility, cell movement and migration, synaptic transmission and plasticity, protein design and structure prediction, protein folding, structure and function, and RNA-protein interactions.

      </div>

      <div class="col three tablet-four mobile-full">
        
        ased intracellular motility, cell movement and migration, synaptic transmission and plasticity, protein design and structure prediction, protein folding, structure and function, and RNA-protein interactions.

      </div>

  </section>


    

  </div>
</footer>