<header>
    <div class="container content-inner">
        <a href="/" class="left block logo">cmp
        <span class="small">[Department of Cellular and Molecular Pharmacology]</span>
        <!--<span class="small">[University of California, San Francisco]</span>-->
		</a>

        <div class="ucsf right nomobile">
        	<a href="http://www.ucsf.edu"><img src="/assets/images/ucsf-logo.png" /></a>
		</div>


		<div class="menu">
			<a href="#" title="Main Navigation" id="navigation">
				<span></span>
				<span></span>
				<span></span>
			</a>
		</div>
	</div>
	<div class="cf"></div>
</header>