<div class="section header">
    <div class="section header-top">
      <div class="container">
        <a href="/" class="left block logo">cmp
        <span class="small">[Department of Cellular and Molecular Pharmacology]</span>
        <!--<span class="small">[University of California, San Francisco]</span>-->

        </a>
        <div class="ucsf right nomobile">
        <a href="http://www.ucsf.edu"><img src="/assets/images/ucsf-logo.png" /></a>

         <!-- <ul class="clear">
            <li><a href="/">Link</a></li>
            <li><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
          -->
          </ul>
        </div>
      </div>
    </div>
  </div>