<header id="header">
  <div class="container content-inner">
  	<div class="section row">
	    <div class="col ten tablet-three mobile-four">

			<a class="logo block" href="/">CMP </a>
			<a class="ucsf block" href="http://www.ucsf.edu"><img class="nomobile" src="/assets/css/images/ucsf-logo.png" /></a>

			<!--
			<span class="left block logo-small">Department of Cellular and Molecular Pharmacology</span>
			-->

			

	    </div>
	    <div class="col two tablet-four mobile-six">
	      
		     <div class="menu ">  
					<a href="#" title="Main Navigation" id="navigation">
						<span></span>
						<span></span>
						<span></span>
					</a>
			</div>

	    </div>
  	</div>


  </div>
  <div class="cf"></div>

</header>