

<nav>
	<div class="container content-navigation">
		<div class="section row navigation">
			<h1>Welcome to the UCSF</h1>
		</div>
		<div class="cf"></div>
		<hr />


		<div class="section row">
		    <div class="col six mobile-full">
			    <p class="headline">Explore the site</p>
			    <ul>
					<li><a href="#">Your first link</a></li>
					<li><a href="#">Your second link</a></li>
					<li><a href="#">Your third link</a></li>
					<li><a href="#">Your fourth link</a></li>
				</ul>
		    </div>
		    <div class="col six mobile-full">
		    	<p class="headline">Find me elsewhere</p>
				<ul>
				<li><a href="#">Your first link</a></li>
				<li><a href="#">Your second link</a></li>
				<li><a href="#">Your third link</a></li>
				<li><a href="#">Your fourth link</a></li>
				</ul>
		    </div>
		</div>

		<div class="cf"></div>





<!--

		<div class="grid half">
			<p class="headline">Explore the site</p>
			<ul>
				<li><a href="#">Your first link</a></li>
				<li><a href="#">Your second link</a></li>
				<li><a href="#">Your third link</a></li>
				<li><a href="#">Your fourth link</a></li>
			</ul>
		</div>
		<div class="grid half">
			<p class="headline">Find me elsewhere</p>
			<ul>
				<li><a href="#">Your first link</a></li>
				<li><a href="#">Your second link</a></li>
				<li><a href="#">Your third link</a></li>
				<li><a href="#">Your fourth link</a></li>
			</ul>
		</div>
-->
		<div class="cf"></div>
		<div class="section row">
			<p class="headline">Latest articles</p>
			<ul>
				<li><a href="#">Latest article one</a></li>
				<li><a href="#">Latest article two</a></li>
				<li><a href="#">Latest article three</a></li>
				<li><a href="#">Latest article four</a></li>
				<li><a href="#">Latest article five</a></li>
			</ul>
		</div>
		<div class="cf"></div>
	</div>	
</nav>
