
  <nav class="section" id="cssmenu">
        <ul>
            <li>
                <a href="{{BASE_PATH}}/"><span>Home</span></a> 
            </li>
            
            <li class="has-sub">
                <a href="{{BASE_PATH}}/pages/faculty"><span>Faculty</span></a>
                    <ul>
                        <li><a href="{{BASE_PATH}}/pages/faculty/affiliated.html">Affiliated Faculty</a></li>
                    </ul>

            </li>
      
            <li class="has-sub">
                <a href="{{BASE_PATH}}/pages/cmp-administration"><span>Central Admin</span></a>
                <!-- SUBMENU START -->
                <ul>
                    <li><a href="{{BASE_PATH}}/pages/cmp-administration/staff.html">Staff Lists</a></li>
                    <li><a href="{{BASE_PATH}}/pages/cmp-administration/grants.html">Grants</a></li>
                    <li><a href="{{BASE_PATH}}/pages/cmp-administration/fellows.html">Fellowships</a></li>
                    <li><a href="{{BASE_PATH}}/pages/cmp-administration/computer-support">Computer Support</a></li>
                    <li><a href="{{BASE_PATH}}/pages/cmp-administration/purchasing.html">Purchasing</a></li>
                </ul>
            </li>
            
            <li>
              <a href="{{BASE_PATH}}/pages/teaching">Teaching</a>
            </li>
       
            <li>
              <a href="{{BASE_PATH}}/pages/ccbgrad">CCB Grad Program</a>
           
            </li>
            
            <li>
              <a href="{{BASE_PATH}}/pages/postdocs">Post-Doc Scholars</a>
            </li>
            
            <li>
              <a href="{{BASE_PATH}}/pages/students">Grad Students</a>
            </li>
            
            <li>
              <a href="{{BASE_PATH}}/pages/contact">Contact</a>
            </li>

        </ul>
        
    </nav>
