<div id="pages-menu" class="pages-menu">
	<ul>
		<li><a href="/">Home</a></li>
	</ul>

	<ul>
		<li><a class="faculty" href="/pages/faculty">Faculty</a></li>
		<li><a class="affiliated" href="/pages/faculty/affiliated.html">Affiliated Faculty</a></li>
		<li><a class="staff" href="/pages/cmp-administration/staff.html">Staff Lists</a></li>
		<li><a class="publications" href="/pages/faculty/publications.html">Publications</a></li>
	</ul>
	<ul>
		<li><a class="cmp-administration" href="/pages/cmp-administration"><span>Central Admin</span></a></li>
		<li><a class="grants" href="/pages/cmp-administration/grants.html">Grants</a></li>
		<li><a class="fellows" href="/pages/cmp-administration/fellows.html">Fellowships</a></li>
		<li><a class="computer-support" href="/pages/cmp-administration/computer-support">Computer Support</a></li>

		<ul>
			<li><a class="email-support" href="{{BASE_PATH}}/pages/cmp-administration/computer-support/email-support.html">Email Support</a></li>
			<li><a class="file-servers" href="{{BASE_PATH}}/pages/cmp-administration/computer-support/file-servers.html">Connecting to Fileservers</a></li>
			<li><a class="desktop-support" href="{{BASE_PATH}}/pages/cmp-administration/computer-support/desktop-support.html">Desktop Services</a></li>
		</ul>


		<li><a class="purchasing" href="/pages/cmp-administration/purchasing.html">Purchasing</a></li>
		<li> <a class="contact" href="/pages/contact">Contact</a></li>
	</ul>

	<ul>
		
		<li> <a class="teaching" href="/pages/teaching">Teaching</a> </li>
		<li> <a class="ccbgrad" href="/pages/ccbgrad">CCB Grad Program</a>  </li>
		<li><a class="postdocs" href="/pages/postdocs">Post-Doc Scholars</a> </li>
		<li> <a class="students" href="/pages/students">Grad Students</a> </li>
	</ul>
</div>
