<div id="pages-menu">
	<ul>
		<li><a href="/">Home</a></li>
	</ul>

	<ul>
		<li><a href="/pages/cmp-administration"><span>Central Admin</span></a></li>
		<li><a href="/pages/cmp-administration/staff.html">Staff Lists</a></li>
		<li><a href="/pages/cmp-administration/grants.html">Grants</a></li>
		<li><a href="/pages/cmp-administration/fellows.html">Fellowships</a></li>
		<li><a href="/pages/cmp-administration/computer-support">Computer Support</a></li>
		<li><a href="/pages/cmp-administration/purchasing.html">Purchasing</a></li>
		<li> <a href="/pages/contact">Contact</a></li>
	</ul>

	<ul>
		<li><a href="/pages/faculty">Faculty</a></li>
		<li><a href="/pages/faculty/affiliated.html">Affiliated Faculty</a></li>
		<li> <a href="/pages/teaching">Teaching</a> </li>
		<li> <a href="/pages/ccbgrad">CCB Grad Program</a>  </li>
		<li><a href="/pages/postdocs">Post-Doc Scholars</a> </li>
		<li> <a href="/pages/students">Grad Students</a> </li>
	</ul>
</div>
