/* General overrides */

/* Header */
header {
  position: fixed;
  top: -5.5em;
  left: 0;
  z-index: 2;
  width: 100%;
  font-size: 87.5%;
}

/*

a.logo-small, a.logo-small:visited  {
margin: 30px 0 0 0;
z-index:2147483647;
}
*/

a.logo{ /*float:left;height:40px;margin-top:5px;*/
 display:block; margin:6px 0 0 0px;height:26px; width:79;float:left;
 }

a.ucsf {
  display:block; margin:13px 0 0 6px;height:40px; width:100px;float:left;
}

a.logo{opacity:.85}
a.logo:hover {opacity:1;}

a.ucsf{opacity:.45}
a.ucsf:hover {opacity:.8;}
/*
body.frontpage a.logo {opacity:.85}
body.frontpage a.logo:hover  {opacity:1;}

body.frontpage a.ucsf{opacity:.3}
body.frontpage a.ucsf:hover {opacity:.6;}
*/

/* this class wraps around the content column and keeps the footer from leaping up */
#page {min-height:500px; margin-bottom: 3em; }
/* needed for front page and contact page to prevent a crazy top margin at top of page */
body.frontpage #page, body.contact #page {min-height:0;}


.details {
  background: url('/assets/images/ucsf_mission_bay.jpg') 38% bottom no-repeat;
  padding-bottom:292px;
}
/* footer */
.footer-bottom {
	padding:30px 0;
}
#rss {
  background: #fe9900 url('/assets/icons/logo-sprite.png') no-repeat scroll -190px 0;
  border-radius: 2px;
  height: 40px;
  display: block;
  width: 40px;
}

/* following not used yet */
#back-to-top a {
  text-align: right;
  background: url("/images/icon_sprites.png") no-repeat 0 -295px;
  display: inline;
  float: right;
  padding-left: 16px; }

#back-to-top a:hover {
  background: url("/images/icon_sprites.png") no-repeat 0 -320px; }



 
/* tag_box */
/*
.tag_box {
  list-style: none;
  margin: 0;
  overflow: hidden; }

.tag_box li {
  line-height: 28px; list-style: none}

.tag_box li i {
  opacity: 0.9; }

.tag_box.inline li {
  float: left; }

.tag_box a {
  padding: 3px 6px;
  margin: 2px;
  background: #eee;
  color: #555;
  border-radius: 3px;
  text-decoration: none;
  border: 1px dashed #cccccc; }

.tag_box a span {
  vertical-align: super;
  font-size: 0.8em; }

.tag_box a:hover {
  background-color: #e5e5e5; }

.tag_box a.active {
  background: #57A957;
  border: 1px solid #4c964d;
  color: #FFF; }

  */


/*
.pagination{margin:20px 0;}
.pagination ul{display:inline-block;*display:inline;*zoom:1;margin-left:0;margin-bottom:0;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;-webkit-box-shadow:0 1px 2px rgba(0, 0, 0, 0.05);-moz-box-shadow:0 1px 2px rgba(0, 0, 0, 0.05);box-shadow:0 1px 2px rgba(0, 0, 0, 0.05);}
.pagination ul>li{display:inline;}
.pagination ul>li>a,.pagination ul>li>span{float:left;padding:4px 12px;line-height:20px;text-decoration:none;background-color:#ffffff;border:1px solid #dddddd;border-left-width:0;}
.pagination ul>li>a:hover,.pagination ul>.active>a,.pagination ul>.active>span{background-color:#f5f5f5;}
.pagination ul>.active>a,.pagination ul>.active>span{color:#999999;cursor:default;}
.pagination ul>.disabled>span,.pagination ul>.disabled>a,.pagination ul>.disabled>a:hover{color:#999999;background-color:transparent;cursor:default;}
.pagination ul>li:first-child>a,.pagination ul>li:first-child>span{border-left-width:1px;-webkit-border-top-left-radius:4px;-moz-border-radius-topleft:4px;border-top-left-radius:4px;-webkit-border-bottom-left-radius:4px;-moz-border-radius-bottomleft:4px;border-bottom-left-radius:4px;}
.pagination ul>li:last-child>a,.pagination ul>li:last-child>span{-webkit-border-top-right-radius:4px;-moz-border-radius-topright:4px;border-top-right-radius:4px;-webkit-border-bottom-right-radius:4px;-moz-border-radius-bottomright:4px;border-bottom-right-radius:4px;}
*/


/* fixes */


body.frontpage .top-margin {margin-top:110px;}
body.default .top-margin {margin-top:80px;}
body.contact .top-margin{margin-top:20px;}

.frontpage .top {padding:100px 0 10px;margin:-160px 0 10px;}
.icon-right-thin { position: relative; top: 2px; }

body.frontpage .middle {padding:200px 0 20px 0;margin:-235px 0 0 0;}
body.frontpage .highlighted { 
  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: 20px;
}
.feature { 
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  min-height: 150px;
  padding: 1em 1em 1em 96px;
  position: relative;
}
.feature i {
  font-size: 3em;
  padding: 0 4px 0 14px;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  line-height: 2.2;
}

/* images */
.stretch { margin-right: 20px; }
.stretch img { width: 100%; }

/* FIXES FOR MEDIA QUERIES */
/* ==========================================================================
/* -- Tablet Devices (Layout, Modifications, etc)
   ========================================================================== */
@media only screen and (min-width: 762px) and (max-width: 939px) {
 nav h1 {font-size:3rem;}
}
/* End Tablet Media Query */
/* ==========================================================================
/* -- Mobile Devices (Layout, Modifications, etc)
   ========================================================================== */
@media only screen and (max-width: 761px) {
  header {height:70px;}
  nav h1 {font-size:2rem;}

  .top-margin{margin-top:60px;}

  h1 {font-size:3rem;line-height:3.5rem;margin:10px 0;}
  h2 {font-size:1.8rem;}
  /* front page */


  /* news, latest blogs.. stops being on the right margin, text enlarges */
  body.frontpage .middle #news {font-size:1.8rem;border:none;text-align:left;}
  .middle #news ul {list-style: none;padding-left:0;}

  .footer-bottom {font-size:1.6rem;line-height:2.2rem;}

}
/* End Mobile Media Query */
