@font-face {
  font-family: 'cmpicons';
  src: url('../font/cmpicons.eot?99470009');
  src: url('../font/cmpicons.eot?99470009#iefix') format('embedded-opentype'),
       url('../font/cmpicons.woff?99470009') format('woff'),
       url('../font/cmpicons.ttf?99470009') format('truetype'),
       url('../font/cmpicons.svg?99470009#cmpicons') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'cmpicons';
    src: url('../font/cmpicons.svg?99470009#cmpicons') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "cmpicons";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-mail:before { content: '\e808'; } /* '' */
.icon-users:before { content: '\e800'; } /* '' */
.icon-right-open:before { content: '\e805'; } /* '' */
.icon-up-open-mini:before { content: '\e802'; } /* '' */
.icon-right-thin:before { content: '\e807'; } /* '' */
.icon-college:before { content: '\e803'; } /* '' */
.icon-library:before { content: '\e804'; } /* '' */
.icon-town-hall:before { content: '\e801'; } /* '' */
