
/* 

orange: #dc4e3c;
grey: #363636;
light-grey: #f2f2f2;

/* Links */
a,a:visited  {
  color: #25aae1;
  text-decoration: none;
  /*font-weight: bold;*/
}

a:hover {
  color: #1D75BB;
  text-decoration: none; 
}
/*
a:active {
  color: #373A3D;
}
*/








#header{
/*  background:#f7f7f7;
background:#5f554b;*/
background:#404040; /* or #333 */
}






.footer-bottom {background:rgb(46, 41, 35);color:#5f554b;}
.footer-bottom a:link,
.footer-bottom a:visited {color:#f0eae5;}
.footer-bottom ul li {color:#bdae9f}
.footer-bottom a:hover {color:#fff;}
.footer-bottom time {color:#e5dfd8;font-size:1rem;}


body.frontpage {/*background:#fbfbfb;*/color:#333;}






.frontpage .top{
  background:#404040;
	color:#555;
}

.feature { 
  background: #ddd;
}
.feature i {
  background: #ccc;
  color: #ddd;
}
.middle{background:#f2f2f2;}
.highlighted{background-color: #ebebeb;}

