
/* 

orange: #dc4e3c;
grey: #363636;
light-grey: #f2f2f2;

/* Links */
a,a:visited  {
  color: #dc4e3c;
  text-decoration: none;
  /*font-weight: bold;*/
}

a:hover {
  color: #516C8A;
  text-decoration: none; 
}
/*
a:active {
  color: #373A3D;
}
*/









#header{
  background:#f5f4f1;
}

/* on these pages, header is black/charcoal */
body.frontpage #header,
body.contact #header {background:#1a1a1a;}




body.default a.ucsf{opacity:.85}
body.default a.ucsf:hover {opacity:1;}


.footer-bottom {background:#1a1a1a;color:#555;}
body.default .footer-bottom a.logo,
body.default .footer-bottom a.logo:visited  {color: #222;}
body.default .footer-bottom a.logo:hover {color:#444;}


.footer-bottom a:link {color:#90a3bf;}

body.frontpage {background:#fbfbfb;color:#333;}
body.frontpage h1,
body.frontpage h2,
body.frontpage h3,
body.frontpage h4,
body.frontpage h5{color:#2F3235;}

body.frontpage a.logo, a.logo:visited  {color: #ccc;}
body.frontpage a.logo:hover  {color: #fff;}
body.default a.logo, a.logo:visited  {color: #555;}
body.default a.logo:hover  {color: #333;}




.frontpage .top{background:#1a1a1a;
				color:#555;
				padding:70px 0 10px;margin:-160px 0 10px;}

.middle{background:#f5f4f1;padding:235px 0 20px 0;margin:-235px 0 30px 0;}
.middle a:link,
.middle a:visited {color:#b5bdc8;font-weight:bold;}
.middle h2 {}
.middle h2 em{color:#dc4e3c;font-style:normal;}
.middle h3 {font-size:1.6rem;}
.middle #news {font-size:1.2rem;border-left:1px solid #bebebe;text-align:right;}
.middle #news ul {list-style: none}

/*
.show-tablet #news h3, #show-desktop {text-align:right;}
.show-tablet #news,.show-desktop #news {text-align: right;border-left:1px solid #bebebe;}
.mobile-full #news { text-align:left;border:0;font-size:1.6rem;}
.mobile-full #news h3 {text-align:right;}
*/


#cssmenu {background:#fafafa;}
#cssmenu a{ color:#777;font-weight: bold;}
#cssmenu a:hover{background:#eee;}
#cssmenu > ul > li:hover > a {
  background:#363636;
  color:#dc4e3c; }
#cssmenu .has-sub ul li a {
  background: #363636;
  color:#eee;
  }
#cssmenu .has-sub ul li:hover a {
  background: #dc4e3c;color:#fff;
   }


.frontpage #cssmenu { background:#fff;}

/*
.frontpage #cssmenu a{ color:#90a3bf;font-weight: bold;}
.frontpage #cssmenu a:hover{background:#AAC19B;color:#eee;}
.frontpage #cssmenu > ul > li:hover > a {
  background:#82787B;
  color:#eee; }
.frontpage #cssmenu .has-sub ul li a {
  background: #82787B;
  color:#eee;
  }
.frontpage #cssmenu .has-sub ul li:hover a {
  background: #AAC19B;color:#2F3235;
   }
*/

/*
.frontpage .flexslider {background:none; outline:0;}
*/

