---
layout: default
---

{% include faculty-and-affiliated-menu.html %}

<section class="row">
<div class="col five tablet-five mobile-full" id="details">

	<h2>{{ page.title }}</h2>


	Email address: <span class="e">{{ page.email_prefix }} / {{ page.email_suffix }} </span>

	<p>Position: {{ page.position }}</p>
	<p>Website:<a href="{{page.website}}">{{page.website}}</a></p>
	<p>Address: {{page.address}}</p>
	<p>Phone: {{page.phone}}</p>
	<p>Fax: {{page.fax}}</p>
	<p>Info: {{page.info}}</p>


</div>

<div class="col seven tablet-seven mobile-full">

	<b>About</b>
	{{ content }}

</div>
</section>

